body{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: #E1EDE6;
    justify-content: space-between;
}

.color_green{
    color: #598D66;
}

.container {
 margin: 0 165px 0px 165px;
}

/* Section navigation*/

.menu nav{
    display: flex;
    list-style-type: none;
}

.menu ul {
    list-style-type: none;
    margin-top: 38px;
}

.menu li {
    display: inline;
    font-size: 20px;
    color: #2C2D35;
    margin-right: 58px;

}

.menu li:hover{
    color: #4a7454;
}

.logo{
    margin: 0 0px 0px 165px;
    width: 143px;
    height: auto;

    margin:  33px 497px 32px 165px;
}

.cart {
    width: 22px;
    height: 22px;

    margin-top: 39px;
    margin-right: 166px;  
}


/* Section preview*/

.preview{
    display: flex;
    font-family: "Raleway", sans-serif;
}

.text__preview{
    flex-direction: column;
    margin: 145px 165px 144px 30px;
    flex-wrap: wrap;
    max-width: 540px;
}

.bird{
    margin-left: 165px;
}

.text__preview__h{
    font-size: 60px;
    font-weight: 500;
}

.text__preview__p{
    color:#86928B;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 60px;
}

.preview__button{
    background: none;
    border: 1px solid;
    padding: 21px 60px;
    font-size: 20px;
}

.preview__button:hover{
    color: #76c289;
}

section{
    margin-bottom: 70px;
}

/* Section reproductions*/

.reproductions {
    display: flex;
}

.rep__nav{
    display: flex;
    list-style-type: none;
}

.rep__nav li {
    display: inline;
    margin-right: 32px;
}

.rep_h{
    font-size: 40px;
    color: #2C2D35;
    font-weight: 500;
    margin-right: 427px;
}
.rep_section{
    border: none;
    color: #2C2D35;
    background-color: #D4E8D9;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 32px;
    font-weight: 500;
}
.active{
    background-color: #376B44;
    color: white;
}